/********** Reseteo **********/

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


/********** Inicio de formatos **********/

.header {
    background-color: lightyellow !important;
}

.inicio {
    background-image: url(../resources/fondo3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inicio__opacidad {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
}

.inicio__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    color: white;
    text-align: center;
}

.formulario__caja {
    background-color: #f3f4f6b9;
    border-radius: 0.5rem;
    border: 1px solid rgba(29, 79, 216, 0.452);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}